$main-color: #6F4E37;
$nav-foot-font-color: white;
$secondary-color: #160f0b;
$background: #c5b8af;

$main-product1-font-color: #935116;
$product1-background-color: #AB8A73;

$product2-background-color: #6B6B6D;
$product2-secondary-color: #1B1B1D;
$product3-background-color: #5B3A23;