@import './variables';
@import './product1.scss';
@import './product2.scss';
@import './product3.scss';

@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff'),
        url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: 'JF Flat regular','segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

header {
    .navbar {
        background-color: $main-color ;
        &-brand {
            padding-right: 70px;
           
            img {
                height: 50px;
                width: 50px;
                background-color: $nav-foot-font-color;
                border-radius: 50%;
                padding: 2px;
            }
        }
    
        .navbar-nav {
            .nav-item {
               .nav-link {
                color: $nav-foot-font-color;
               }
            }
            .active {
                border-bottom: 1px solid white;
            }
        }
        
    }
}


main {
    margin-top: 75px;
    .carousel {
        &-inner {
            .carousel-item {
                img {
                    height: 500px;
                    width: 100%;
                }
            }
        }

        &-indicators {
            top: 450px;
            right: 60%;
            .carousel-indicator-pic {
                height: 70px !important;
                width: 70px !important;
                opacity: 1 !important;
                border: 2px solid #DDDDDB !important;
                margin: 0 !important;
                margin-left: 5px !important;
            }
        }

        &-control-prev {
            .fa-chevron-right {
                color: $secondary-color !important;
                font-size: 30px;
            }
        }

        &-control-next {
            .fa-chevron-left {
                color: $secondary-color !important;
                font-size: 30px;
            }
        }
    }

    .service-cards {
        margin-top: 100px;
        margin-bottom: 50px;

        .service-title {
            h3 {
                margin-bottom: 30px;
                font-size: 36px;
                color: $secondary-color;
                margin-left: 50px;
            }
            .service-line {
                width: 25%;
                background-color: $secondary-color;
                transform: translateX(10%);
                margin-top: -15px;
                margin-bottom: 40px;
            }
        }
        .card {
           height: 190px;
           border: 1px solid $secondary-color;
           &-body {
            p {
                font-size: 20px;
                color: $secondary-color;
            }

            h5 {
                font-size: 40px;
                color: $main-color;
            }
           }
        }
    }

    .product-cards {
        margin-top: 100px;
        margin-bottom: 50px;
        .product-title {
            h3 {
                margin-bottom: 30px;
                font-size: 36px;
                color: $secondary-color;
                margin-left: 50px;
            }

            .product-line {
                width: 25%;
                background-color: $secondary-color;
                transform: translateX(10%);
                margin-top: -15px;
                margin-bottom: 40px;
            }
        }

        a {
            text-decoration: none;

            .card {
                height: 350px;
                &-body {
                   color: $secondary-color;
                   &:hover {
                    color: #a89487;
                   }
                }
            }
        }
    }

    .about {
        &-title {
            h3 {
                font-size: 36px;
                color: $secondary-color;
            }
            &-line {
                background-color: $main-color;
            }
        }
        &-body {
            p {
                font-size: 18px;
                line-height: 36px;
            }
        }
    }

    .working-time {
        margin-bottom: 50px;
        h4 {
            color: $secondary-color;
        }
        .closed {
            color: #B03A2E;
        }
    }

    .message-place {
        margin-top: 50px;
        margin-bottom: 50px;
        &-title {
            margin-bottom: 30px;
           h3 {
            color: $secondary-color;
           }
           &-line {
            background-color: $main-color;
            width: 25%;
           }
        }
        .message {
            &-name {
                height: 40px;
                width: 60%;
                transform: translateX(-20%);
                
            }
            &-email {
                height: 40px;
                width: 60%;
                text-align: right !important;
                transform: translateX(-20%);
            }
            &-btn {
                width: 40%;
                height: 40px;
                margin-top: 10px;
                transform: translateX(-30%);
                background-color: $main-color;
                color: white;
                
            }
            &-text {
                transform: translateX(20%);
            }
        }
    }

    .distributors {
        &-title {
            h3 {
                color: $secondary-color;
                font-size: 36px;
            }
            &-line {
                width: 25%;
                background-color: $secondary-color;
                margin-bottom: 30px;
            }
        }

        &-cards {
            .card {
                height: 205px;
            }
            .fa-phone {
                margin-left: 5px;
            }
            &-name {
                color: $secondary-color;
                margin-right: 5px;
                font-size: 18px;
            }
            &-detailed-location {
                color: $secondary-color;
                margin-right: 5px;
                font-size: 18px;
            }
        }
    }

}


footer {
    background-color: $main-color;
    margin-bottom: -19px;
    .news-label {
        color: $nav-foot-font-color;
        padding-top: 50px;
        font-size: 20px;
    }

    .news-input {
        height: 40px;
        width: 40%;
        text-align: right !important;
    }

    button {
        height: 40px;
        line-height: 0;
        width: 10%;
        background-color: white;
        border: 1px solid white;
    }

    .social-media {
        list-style: none;
        margin-top: 30px;
        margin-left: 25px;
        .icon {
            display: inline !important;
            font-size: 30px !important;
            margin-left: 15px;
            a {
                color: $secondary-color;
                transition: all 0.5s ease;
                &:hover {
                    color: #a89487;
                }
            }
        }
    }

}

@media(max-width: 991px) {

    .service-cards {
        .card {
            transform: translateX(-15%);
            margin-bottom: 20px;
            width: 500px !important;
        }
    }

    .product-cards {
        .card {
            width: 500px !important;
            height: 450px !important;
            margin-bottom: 30px;
            transform: translateX(-15%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-10%);
            width: 600px;
        }

        .card {
            width: 400px !important;
            transform: translateX(-40%);
            margin: 20px 0;
        }
    }

    .message-place {
        input {
            width: 200px !important;
        }

        textarea {
            width: 300px !important;
        }
    }
}


@media (max-width: 930px) {
    .carousel {
        &-indicators {
            margin-right: -300px;
        }
    }

    .service-cards {
        .card {
            transform: translateX(-15%);
            margin-bottom: 20px;
            width: 500px !important;
        }
    }

    .product-cards {
        .card {
            width: 500px !important;
            height: 450px !important;
            margin-bottom: 30px;
            transform: translateX(-15%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-10%);
            width: 600px;
        }

        .card {
            width: 400px !important;
            transform: translateX(-40%);
            margin: 20px 0;
        }
    }

    .message-place {
        input {
            width: 200px !important;
        }

        textarea {
            width: 300px !important;
        }
    }
}


@media (max-width: 770px) {

    .service-cards {
        .card {
            transform: translateX(0);
            margin-bottom: 20px;
            width: 500px !important;
        }
    }

    .product-cards {
        .card {
            width: 500px !important;
            height: 450px !important;
            margin-bottom: 30px;
            transform: translateX(0);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(8%);
            width: 600px;
        }

        .card {
            width: 400px !important;
            transform: translateX(-15%);
            margin: 20px 0;
        }
    }

    .message-place {
        input {
            width: 250px !important;
        }

        textarea {
            width: 250px !important;
            transform: translateX(30%) !important;
            margin-top: -40px;
        }

        button {
            transform: translateX(-85%) !important;
            
        }
    }
}

@media (max-width: 532px) {
    
    .carousel {
        &-indicators {
            margin-right: -200px;
            
        }
    }
    .service-cards {
        .service-title {
            transform: translateX(-4%);
        }
        .service-line {
            width: 50% !important;
        }
        .card {
            transform: translateX(-30%);
            margin-bottom: 20px;
            width: 300px !important;
        }
    }

    .product-cards {
        .product-title {
            transform: translateX(-4%);
        }
        .product-line {
            width: 50% !important;
        }
        .card {
            width: 300px !important;
            height: 350px !important;
            margin-bottom: 30px;
            transform: translateX(-30%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-10%);
            width: 400px;
        }

        .card {
            width: 400px !important;
            transform: translateX(-10%);
            margin: 20px 0;
        }
    }

    .working-time {
        h4 {
            font-size: 16px;
        }
        .closed {
            font-size: 16px;
        }
    }

    .message-place {
        input {
            width: 200px !important;
            display: block;
        }

        textarea {
            width: 200px !important;
            transform: translateX(50%) !important;
            margin-top: -40px;
        }

        button {
            transform: translateX(50%);
            width: 150px !important;
            
        }
    }
}

@media(max-width: 430px) {
    .carousel {
        &-indicators {
            display: none;
            
        }
    }
    .service-cards {
        .service-title {
            transform: translateX(-4%);
        }
        .service-line {
            width: 50% !important;
        }
        .card {
            transform: translateX(-10%);
            margin-bottom: 20px;
            width: 300px !important;
        }
    }

    .product-cards {
        .product-title {
            transform: translateX(-4%);
        }
        .product-line {
            width: 50% !important;
        }
        .card {
            width: 300px !important;
            height: 350px !important;
            margin-bottom: 30px;
            transform: translateX(-10%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-10%);
            width: 300px;
        }

        .card {
            width: 300px !important;
            transform: translateX(-10%);
            margin: 20px 0;
        }
    }

    .working-time {
        h4 {
            font-size: 14px;
        }
        .closed {
            font-size: 14px;
        }
    }

    .message-place {
        input {
            width: 200px !important;
            display: block;
        }

        textarea {
            width: 200px !important;
            transform: translateX(25%) !important;
            margin-top: -40px;
        }

        button {
            margin-right: 30px;
            width: 130px !important;
            
        }
    }

    footer {
        .news-form {
            button {
                width: 70px;
            }
        }
    }

}


@media(max-width: 370px) {
    .service-cards {
        .service-title {
            transform: translateX(-4%);
        }
        .service-line {
            width: 50% !important;
        }
        .card {
            transform: translateX(-5%);
            margin-bottom: 20px;
            width: 300px !important;
        }
    }

    .product-cards {
        .product-title {
            transform: translateX(-4%);
        }
        .product-line {
            width: 50% !important;
        }
        .card {
            width: 300px !important;
            height: 350px !important;
            margin-bottom: 30px;
            transform: translateX(-5%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-5%);
            width: 300px;
        }

        .card {
            width: 300px !important;
            transform: translateX(-5%);
            margin: 20px 0;
        }
    }

    .working-time {
        h4 {
            font-size: 18px;
        }
        .closed {
            font-size: 18px;
        }
    }

    .message-place {
        input {
            width: 200px !important;
            display: block;
            transform: translateX(-5%) !important;
        }

        textarea {
             
            width: 200px !important;
            transform: translateX(25%) !important;
            margin-top: -40px;
        }

        button {
            transform: translateX(-100%) !important;
            width: 80px !important;
        }
    }
}

@media(max-width: 360px) {
    .service-cards {
        .service-title {
            transform: translateX(-4%);
        }
        .service-line {
            width: 50% !important;
        }
        .card {
            transform: translateX(-5%);
            margin-bottom: 20px;
            width: 250px !important;
            height: 210px !important;
        }
    }

    .product-cards {
        .product-title {
            transform: translateX(-4%);
        }
        .product-line {
            width: 50% !important;
        }
        .card {
            width: 250px !important;
            height: 350px !important;
            margin-bottom: 30px;
            transform: translateX(-5%);
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-5%);
            width: 250px;
        }

        .card {
            width: 250px !important;
            transform: translateX(-5%);
            margin: 20px 0;
        }
    }

    .working-time {
        h4 {
            font-size: 15px;
        }
        .closed {
            font-size: 15px;
        }
    }

    .message-place {
        input {
            width: 225px !important;
            display: block;
            
        }

        textarea {
             
            width: 180px !important;
            margin-left: -20px !important;
            margin-top: -40px;
        }

        button {
            transform: translateX(-158%) !important;
            width: 50px !important;
        }
    }
}

@media(max-width: 260px) {
    .service-cards {
        .card {
            height: 250px !important;
            margin-bottom: 20px;
            width: 200px !important;
        }
    }

    .product-cards {
        .card {
            width: 200px !important;
            height: 320px !important;
            margin-bottom: 30px;
            
        }
    }

    .distributors-cards {
        iframe {
            transform: translateX(-10%);
            width: 600px;
        }

        .card {
            width: 400px !important;
            transform: translateX(-40%);
            margin: 20px 0;
        }
    }

    .message-place {
        input {
            width: 200px !important;
        }

        textarea {
            width: 300px !important;
        }
    }
}